{% extends 'course.html' %}
{% load staticfiles %}
{% block content %}
    <div class="templatemo-content-widget white-bg col-2">
              <div class="square"></div>
              <h2 class="templatemo-inline-block">PRE Information</h2><hr>
            {% for homework in course.homework.all %}
                <div class="templatemo-content-widget white-bg">

                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-circle" src="{% static 'seeu/images/sunset.jpg' %}" alt="Sunset">
                    </a>
                  </div>
                  <div class="media-body">
                      {% for pro in course.pro.all %}
                    <h2 class="media-heading text-uppercase">{{ pro.topic }}</h2>
                      <p>PreTime:{{ pro.pre_time }}</p>
                       <p>Plan:{{ pro.plan }}</p>

                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}


            </div>
{% endblock %}