{% extends 'course.html' %}
{% block content %}
    <div class="templatemo-content-widget white-bg col-2">
              <div class="square"></div>
              <h2 class="templatemo-inline-block">Teacher Information</h2><hr>
          {% for teacher in course.teacher.all %}
              <p>Name:{{ teacher.name}}</p>


              <p>Contact:{{ teacher.contact_information }}</p>


              <p>Address:{{ teacher.address }}</p>


                 {% if teacher.reservation != none %}
              <p>Reservation:{{ teacher.reservation }}</p>
                {% endif %}
              
            {% endfor %}
            </div>
{% endblock %}